<form method="post" action="/registerWriter2">
  <input
    type="text"
    name="email"
    value="<%- registerData['email'] %>"
    readonly="readonly"
  />
  <input
    type="text"
    name="mid"
    value="<%- registerData['mid'] %>"
    readonly="readonly"
    style="color: Grey; opacity: 0"
  />
  <input
    type="text"
    name="rid"
    value="<%- registerData['rid'] %>"
    readonly="readonly"
    style="color: Grey; opacity: 0"
  />
  <br />
  <input type="text" placeholder="Enter your name" name="name" />
  <br />
  <input type="text" placeholder="Enter your address" name="address" />
  <br />
  <input type="text" placeholder="Enter your password" name="password" />
  <input type="submit" value="Register" />
</form>
